%ul#sideNav
  %li
    %a{:href => "#splash"}= image_tag "logo_small.png"
  %li
    %a{:href => "#projects"} Projects
  %li
    %a{:href => "#people"} People
  %li
    %a{:href => "#task-lists"} Task List
  %li
    %a{:href => "#tasks"} Task
  %li
    %a{:href => "#pages"} Pages
  %li
    %a{:href => "#conversations"} Conversations
  %li
    %a{:href => "#files"} Files
  %li
    %a{:href => "#all-projects"} All Projects
  %li
    %a{:href => "#time-tracking"} Time Tracking
  %li
    %a{:href => "#calendar"} Calendar and Charts
  %li
    %a{:href => "#organizations"} Organizations
  %li
    %a{:href => "#settings"} Settings
  %li
    %a{:href => "#search"} Search
  %li
    %a{:href => "#text-styles"} Text Styles