%ul#sideNav
  %li
    %a{:href => "#splash"}= image_tag "logo_small.png"
  %li
    %a{:href => "#how-teambox-is-structured"} How Teambox is structured
  %li
    %a{:href => "#setting-preferences"} Setting your Teambox Preferences and Project Configuration
  %li
    %a{:href => "#account-settings"} Account Settings
  %li
    %a{:href => "#profile-settings"} Profile Settings
  %li
    %a{:href => "#profile-picture"} Profile Picture
  %li
    %a{:href => "#your-notifications"} Your Notifications
  %li
    %a{:href => "#organizations"} Organizations
  %li
    %a{:href => "#projects"} Projects
  %li
    %a{:href => "#people-and-permissions"} People and Permissions
  %li
    %a{:href=> "#inviting-people"} How inviting people is handled
  %li
    %a{:href => "#recent-activity"} Recent Activity
  %li
    %a{:href => "#conversations"} Conversations
  %li
    %a{:href => "#tasks"} Tasks
  %li
    %a{:href => "#time-tracking"} Time Tracking
  %li
    %a{:href => "#pages"} Pages
  %li
    %a{:href => "#files"} Files
