<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Teambox User Guide</title>
  <meta charset="UTF-8">
  
  <link rel=stylesheet href="stylesheets/style.css" />
  <link rel=stylesheet href="facebox/facebox.css" />

  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="facebox/facebox.js"></script>
  <script src="javascripts/runGuide.js"></script>
  
  <%#= stylesheet_link_tag :all %>
  <%#= javascript_include_tag :defaults %>
  <%#= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
